# For a description of the syntax of this configuration file,
# see Linux/Documentation/kbuild/kconfig-language.rst.
#
#
mainmenu "Rynux/$(ARCH) Kernel Configuration"

source "scripts/Kconfig.include"

source "arch/Kconfig"

source "init/Kconfig"

source "klib/Kconfig.debug"

