# For a description of the syntax of this configuration file,
# see Linux/Documentation/kbuild/kconfig-language.rst.
#
#
mainmenu "Rynux/$(ARCH) Kernel Configuration"

source "scripts/Kconfig.include"

choice
    prompt "Rust Build Mode"
    default RUST_RELEASE

config RUST_RELEASE
    bool "Release"
    help
      Build Rust code with optimizations (release mode).

config RUST_DEBUG
    bool "Debug"
    help
      Build Rust code with debug info (debug mode).

endchoice

source "arch/Kconfig"

source "init/Kconfig"

#source "lib/Kconfig"

source "lib/Kconfig.debug"

