config ARM64
	def_bool y
        select ARCH_WANT_FRAME_POINTERS
	select BUILDTIME_TABLE_SORT

menu "Arm64 architecture options"

config BROKEN_GAS_INST
	def_bool !$(as-instr,1:\n.inst 0\n.rept . - 1b\n\nnop\n.endr\n)

menu "ARMv8.2 architectural features"
config AS_HAS_ARMV8_2
	def_bool $(cc-option,-Wa$(comma)-march=armv8.2-a)

endmenu # ARMv8.2 architectural features

menu "ARMv8.3 architectural features"

config AS_HAS_ARMV8_3
	def_bool $(cc-option,-Wa$(comma)-march=armv8.3-a)
endmenu # ARMv8.3 architectural features

menu "ARMv8.4 architectural features"

config AS_HAS_ARMV8_4
	def_bool $(cc-option,-Wa$(comma)-march=armv8.4-a)

endmenu # ARMv8.4 architectural features


menu "ARMv8.5 architectural features"

config AS_HAS_ARMV8_5
	def_bool $(cc-option,-Wa$(comma)-march=armv8.5-a)

endmenu # ARMv8.5 architectural features

menu "ARM errata workarounds via the alternatives framework"

config ARM64_ERRATUM_843419
	bool "Cortex-A53: 843419: A load or store might access an incorrect address"
	default y
	help
	  This option links the kernel with '--fix-cortex-a53-843419' and
	  enables PLT support to replace certain ADRP instructions, which can
	  cause subsequent memory accesses to use an incorrect address on
	  Cortex-A53 parts up to r0p4.

	  If unsure, say Y.

config ARM64_LD_HAS_FIX_ERRATUM_843419
	def_bool $(ld-option,--fix-cortex-a53-843419)
endmenu # ARM errata workarounds via the alternatives framework

endmenu # ARM64 architecture options
